//Colors
$green: #01b169;
$white: #f8f8f8;
$dark-white: #d0cccd;
$gray: #424242;
$light-gray: #454545;
$ex-light-gray: #9b9b9b;
$dark-gray: #303030;
$bg-gray: #ededed;
$bg-light-gray: #e8e8e8;
$black: #272727;
$dark-black: #131313;
$red: #a80e0c;
$orange: #e84c3d;

//space
$space-xg: 5em;
$space-g: 3rem;
$space-sg: 2.5rem;
$space-xxl: 2rem;
$space-xl: 1.5rem;
$space-lg: 1.25rem;
$space-m: 1rem;
$space-sm: 0.75em;
$space-xs: 0.5rem;
$space-xxs: 0.25rem;

//font
$h1: 4rem;
$h2-l: 2.2rem;
$h2: 1.5rem;
$text-lg: 1.25rem;
$text-m: 1rem;
$text-sm: 0.75rem;

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$roboto-con: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
